:root {
	--tba-body-color: #6C6881;
	--tba-cl-white: #ffffff;
	--tba-cl-black: #000000;
	--tba-cl-dark: #0F1D40;
	--tba-cl-skin: #0070FF;
    --tba-active-skin: rgb(0 112 255 / 7%);	
	--tba-cl-lightdark: #EAEEFD;
	--tba-gray: #F5F8FA;
	--tba-bordercolor: #E4E4E4;
	--tba-bordercolor-dark: #E4E4E5;
	--tba-logo-clr:#FF3067;
	--tba-font-size: 17px;
	--tba-radius-50px: 50px;
	--tba-radius-20px: 20px;
	--tba-radius-15px: 15px;
	--tba-radius-10px: 10px;
	--tba-radius-8px: 8px;
	--tba-radius-5px: 5px;
	--tba-radius-3px: 3px;
	--tba-al-success: #7befa5;
	--tba-al-error: #FFC0C7;
	--tba-al-approved: #F3FFF7;
	--tba-al-canceled:#FFEEEE;
	--tba-al-pending:#FFFAEF;
	--tba-al-completed:#EAE7FB;
	--tba-appointment-color: #e32323;
	--tba-pappointment-color: #f08200;
	--tba-cappointment-color: #727e95;
	--tba-user-color: #e036cf;
	--tba-font-family: 'Inter';
}